nav ul a {
    text-decoration:none;
    color:rgb(91, 91, 91);
}
nav ul li{
    display: inline-block;
    padding: 10px;
    margin:5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border:1px solid rgb(179, 179, 179);
    border-radius:7px;
    font-weight: bold;
}
button {
    padding:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

}
.btn-success {
    background-color: rgb(23, 125, 91);
    color:white;
}
.btn-danger {
    background-color: rgb(172, 28, 28);
    color: white;
}
/* importo el main.css de otro proyecto */
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
  
  /* formating the table */
table, th, td{
    border:1px solid black;
    text-align: center;
}
/* formating the form */
.div_externo input {
    width: 390px;
}
.multiple {
    display: block;

}
form div {
    padding: 5px;
}

form, input, textarea, select, button.pass{
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border-color: bisque;
}
::placeholder{
    color: rgb(175, 174, 174);
}
form label {
    margin-right: 10px;
    text-align: right;
}
.div_externo label {
    float:left;
    min-width:170px;
}
form button.gradient-border {
    padding:10px;
    margin:15px 5px 5px 5px;
    font-size: 1.5em;
    width: 150px;
    /* box-shadow:2px 2px 6px black; */ 
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
    color:rgb(160, 160, 160);
    font-family: 'Oswald', Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}
/* formating the button mostrar password */
button.pass {
    background-color: rgb(246, 246, 246);
    color: rgb(206, 132, 76);
}
/* formating the h1 with part1 class */
.part1 {
    text-shadow: 1px 1px 5px black;
    color:aliceblue;
    transition: 1s;
}
.part1:hover{
    opacity: .6;
}
li.last {
    text-align: right;
    color: red;
}
a{
    text-decoration:none;
    font-style: normal;
    transition: 2s;
    font-size: 1.2em;
}
a:hover {
    color: greenyellow;
}
/* formating the nav */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    /* top: calc(100% + .25rem); */
    background-color: white;
    padding: 0.75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .2); 
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
}
.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}