/* Estilos personalizados */
body {
    background-color: #f8f9fa;
  }
  
  header, footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
  }
  
  nav {
    margin-bottom: 20px;
  }
  
  /* Otros estilos según tus necesidades */
  